<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ITU Bike Store - {% block title %}{% endblock %}</title>
</head>
<body>
    {% include "includes/navbar.html" %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        {% block body %}

        {% endblock %}
    </div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
</body>
</html>
